@import "settings/fonts";
@import "settings/colors";

.main-four-steps {
  text-align: center;
  padding: 20px 0 0 0;
}

.main-four-steps h1 {
  font: 38px/55px $font-base;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.76px;
}

.four-steps {
  display: flex;
  background: #f0f1f1 repeat padding-box;
  justify-content: space-around;
}
.step-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 250px;
}
.main-decoration {
  background: url("../assets/icons/Decoration.svg") 50% no-repeat;
  height: 40px;
  margin-bottom: 40px;
}
.img-title {
  text-align: center;
  font: 18px/24px $font-base;
  color: $text-color-secondary;
  margin: 10px auto 0 auto;
}
.img-title::after {
  content: "";
  display: block;
  background: $text-color-secondary repeat;
  height: 1px;
  width: 70px;
  margin: 10px auto 0 auto;
}
.img-text {
  text-align: center;
  font: 15px/17px $font-base;
  color: $text-color-secondary;
}

.img {
  width: 83px;
  height: 83px;
}
.img1 {
  background: transparent url("../assets/icons/Icon-1.svg") 0% 0% no-repeat padding-box;
}
.img2 {
  background: transparent url("../assets/icons/Icon-2.svg") 0% 0% no-repeat padding-box;
}
.img3 {
  background: transparent url("../assets/icons/Icon-3.svg") 0% 0% no-repeat padding-box;
}
.img4 {
  background: transparent url("../assets/icons/Icon-4.svg") 0% 0% no-repeat padding-box;
}
