@import "settings/fonts";
@import "settings/colors";

.main-three-columns {
  display: flex;
  background: url("../assets/images/3-Columns-Background.png") repeat padding-box;
  justify-content: space-around;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 334px;
  height: 380px;
}
.number {
  text-align: center;
  font: 90px/122px $font-base;
  color: #5e5322;
  margin: 0;
}
.title {
  text-align: center;
  font: 18px/30px $font-base;
  color: $text-color-secondary;
  margin: 0;
}
.text {
  text-align: center;
  font: 100 13px/22px$font-alt;
  letter-spacing: -0.32px;
  color: $text-color-secondary;
}
