@import "settings/fonts";
@import "settings/colors";

.home-whohelp {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}

.home-whohelp-nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-whohelp-nav h1 {
  font: 38px/55px $font-base;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.76px;
}

.main-decoration {
  background: url("../assets/icons/Decoration.svg") 50% no-repeat;
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
}

.whohelp-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.whohelp-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.whohelp-nav-list .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.75px solid $background-color;
  background-color: $background-color;
  text-decoration: none;
  color: $text-color-secondary;
  font: 18px/24px $font-base;
  width: 208px;
  height: 75px;
  margin: 0 10px 0 10px;
}

.whohelp-nav-list .btn:hover {
  border: 0.75px solid $text-color-secondary;
  cursor: pointer;
}

.whohelp-nav-list .active {
  border: 0.75px solid $text-color-secondary;
}

.home-whohelp-desc {
  font: 22px/30px $font-base;
  margin-bottom: 20px;
  text-align: center;
  width: 640px;
}

.whohelp-item-title {
  text-align: left;
  font: 26px/31px $font-alt;
  margin: 0px auto 0px auto;
}

.whohelp-item-description {
  text-align: left;
  font: italic 18px/22px $font-alt;
  max-width: 800px;
  margin: 0px auto 0px auto;
}

.whohelp-item-tags {
  text-align: right;
  font: 18px/22px $font-alt;
  max-width: 400px;
  margin-left: 20px;
}

.whohelp-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color-secondary;
  max-width: 1300px;
  min-height: 110px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid $background-color;
  background-color: $background-color;
  color: $text-color-secondary;
  font: 18px/24px $font-base;
  cursor: pointer;
  width: 40px;
  height: 50px;
}

.page-btn.active {
  border: 1px solid #707070;
}
