@import "settings/fonts";
@import "settings/colors";

.home-contact {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}

.home-contact-img {
  background: url("../assets/images/Background-Contact-Form.jpg") no-repeat left;
  opacity: 25%;
  background-size: cover;
  width: 50vw;
  height: 100%;
  position: absolute;
}

.home-contact-form {
  margin-left: 50vw;
  margin-top: 200px;
  width: 50vw;
  // height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-contact-form h1 {
  font: 38px/55px $font-base;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -0.76px;
}

.main-decoration {
  background: url("../assets/icons/Decoration.svg") 50% no-repeat;
  height: 40px;
  margin-bottom: 40px;
}

.contact-form-data {
  display: flex;
  flex-direction: column;
  width: 528px;
}

.contact-form-data label {
  font: 600 16px/20px $font-base;
  color: $text-color-secondary;
}

.contact-form-data input,
textarea {
  border-style: hidden;
  font: 18px/24px $font-base;
  color: $text-color-secondary;
  resize: none;
}
.contact-form-data input::placeholder,
textarea::placeholder {
  color: #3c3c3c26;
}

.form-datas {
  display: flex;
  justify-content: space-between;
}

.form-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.75px solid #a1a1a1;
  margin: 40px 0 0 0;
}

.name,
.email {
  width: 256px;
  height: 62px;
}

.message {
  width: 528px;
  height: 135px;
}

.message-input {
  height: 97px;
}
