@import "settings/fonts";
@import "settings/colors";

.home-header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}

.home-img {
  background: url("../assets/images/Home-Hero-Image.jpg") no-repeat right;
  background-size: cover;
  width: 50vw;
  height: 100%;
  position: absolute;
}

.home-header-nav {
  margin-left: 50vw;
  width: 50vw;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}

.home-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 120px;
}

.home-nav-list,
.home-nav-auth {
  display: flex;
  list-style: none;
  padding: 0;
}

.home-nav-list .btn {
  border: 0.75px solid $background-color;
  text-decoration: none;
  color: $text-color-secondary;
  font: 18px/24px $font-base;
  padding: 9px 20px;
  display: block;
  text-align: center;
}

.home-nav-list .btn:hover {
  border: 0.75px solid $text-color-secondary;
  cursor: pointer;
}

.home-nav-auth .btn {
  border: 0.75px solid $background-color;
  text-decoration: none;
  color: #737373;
  font: 13px/20px $font-base;
  padding: 9px 10px;
  display: block;
}

.home-nav-auth .btn:hover {
  border: 0.75px solid #fad648;
  cursor: pointer;
}
