@import "settings/fonts";
@import "settings/colors";

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: relative;
}

.login-header-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}

.login-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 120px;
}

.login-nav-list,
.login-nav-auth {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.login-nav-list .btn {
  border: 0.75px solid $background-color;
  text-decoration: none;
  color: $text-color-secondary;
  font: 18px/24px $font-base;
  padding: 9px 20px;
  display: block;
  text-align: center;
}

.login-nav-list .btn:hover {
  border: 0.75px solid $text-color-secondary;
  cursor: pointer;
}

.login-nav-auth .btn {
  border: 0.75px solid $background-color;
  text-decoration: none;
  color: #737373;
  font: 13px/20px $font-base;
  padding: 9px 10px;
  display: block;
}

.login-nav-auth .btn:hover {
  border: 0.75px solid #fad648;
  cursor: pointer;
}
