@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@import "settings/fonts";
@import "settings/colors";

body {
  font-family: $font-base;
  color: $text-color;
  background-color: $background-color;
}
